#root {
  max-width: 1440px;
  padding: 1rem;
  margin: 0 auto;
}

#container {
  width: 100%;
  display: flex;
  gap: 1rem;
  height: calc(100vh - 2rem);
  max-height: 900px;
  min-height: 400px;
}

.map_container {
  flex: 3;
  background-color: #1a1a1a;
}

.action_bar {
  flex: 1;
  background-color: #2a2a2a;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.action_bar > input {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
